<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Money Tracker</title>
</head>
<body>
    <h1>Money Tracker</h1>
    <ul>
        <% for (const transaction of transactions) { %>
            <li class="<%= transaction.type %>">
                <%= transaction.description %> - <%= transaction.amount %> (<%= transaction.type %>)
                <span><%= transaction.created_at.toISOString().split('T')[0] %></span>
            </li>
        <% } %>
    </ul>
    <a href="/add">Add Transaction</a>
</body>
</html>
